:root {
    --dsg: darkslategray;
    --ws: whitesmoke;
    --blan: blanchedalmond;
    --blk:  black;
    --background: #060608;
    --color: #FAFAFA;
}

html, body {
width: 100%;
height: 100%;
border-radius: 0 !important;
background-color: var(--dsg);
scroll-behavior: smooth;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*----NavBar----*/

.bg-body-tertiary {
    margin: 0;
    background-color: var(--dsg) !important;
        }

.navbar-title  {
    color: var(--blan);
    text-decoration: none;
    font-size: 3em;
    padding-right: 20px;
    padding-left: 20px;
}

ul .navbar-nav{
    list-style: none;
    display: flex; 
}

li a {
    margin-right: 30px; 
}

.navbar {
    margin-top: 10px;
    background-color: var(--dsg);
    font-size: 1.5em;
}

.nav-item a {
    color: var(--blan);
}

.nav-item a:hover {
    color: var(--ws);
}  

/*----Jumbotron----*/
.text-column{
margin-left:10vw;
    
}

.text-column p {
    font-size: 1.25em;
    width: 100%;
}

h1, .display-5 { 
    padding-bottom: 20px;
    font-size: 4em !important;
    color: var(--blan);
    margin: 0;
}

.container-fluid img {
    height:450px;
    width: 450px;
    margin: 0;
    padding: 0;
}

.jumbo-button{
    display: flex;
    justify-content: center;
}


/*----About Me----*/


.card-title-about {
    color: var(--blan);
    font-size: 4em;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.card-title-about:hover {
    color: var(--dsg);
    font-size: 4em;
    box-shadow: inset 300px 0 0 0 var(--blan);
}

.card {
    border: none !important;
    border-radius: none;
    border-style: none;
    background-color: var(--dsg);
    color: var(--blan);
}

.card-text1 {
    font-size: 20px;
}

.bg-body-tertiary p{
    color: var(--blan);
}

/*----Contact Me----*/

.card-title-contact {
    color: var(--blan);
    font-size: 4em;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.card-title-contact:hover {
    color: var(--dsg);
    font-size: 4em;
    box-shadow: inset 350px 0 0 0 var(--blan);
}

.icons-list ul{
    list-style-type: none;
    font-size: 70px;
    text-decoration: none;

}

.icons-list li:hover{
    color: var(--blk);
}

a {
    text-decoration: none;
    color: var(--blan)
}

/*----Skills----*/

.card-title-skills {
    font-size: 4em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-left: 16px;
}
.card-title-skills:hover {
    color: var(--dsg);
    font-size: 4em;
    box-shadow: inset 150px 0 0 0 var(--blan);
}

.d-block {
    width: 100%;
    margin: 0;
    padding: 0;
}

.icons-list-skills i {
font-size: 5em;
margin-left: 170px;
margin-bottom: 30px;
}

.icons-list-skills i:hover{
color: var(--blk);
}

/*----Work----*/

.card-title-work {
    font-size: 4em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-left: 16px;
}
.card-title-work:hover {
    color: var(--dsg);
    box-shadow: inset 150px 0 0 0 var(--blan);
}

/*----Code Refactor----*/

.card-title-codeRef{
    color: var(--blan);
    font-size: 4em;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    padding:2%;
    display: block;
    position: absolute;
    bottom: 75px;
    background-color: var(--dsg);
}

.card-title-codeRef:hover {
    color: var(--dsg);
    box-shadow: inset 730px 0 0 0 var(--blan);
}

.codeRef .card-img-top {
   height: 500px;
   padding-bottom: 0;
}

/*----Other Row----*/

.card-title-GD, .card-title-PWS, .card-title-P,.card-title-CS {
    color: var(--blan);
    font-size: 2em;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    padding:2%;
    display: block;
    position: absolute;
    top: 100px;
    background-color: var(--dsg);
}

.card-title-GD:hover {
    color: var(--dsg);
    box-shadow: inset 330px 0 0 0 var(--blan);
}
.card-title-PWS:hover {
    color: var(--dsg);
    box-shadow: inset 340px 0 0 0 var(--blan);
}
.card-title-P:hover{
    color: var(--dsg);
    box-shadow: inset 200px 0 0 0 var(--blan);
}
.card-title-CS:hover{
    color: var(--dsg);
    box-shadow: inset 260px 0 0 0 var(--blan);
}
    

    /*----Footer----*/


    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-group a:hover{
            box-shadow: 0px 0px 10px 0px var(--blan);
        }


    @media screen and (max-width: 792px) {

    main, body {
        height: 100%;
        width: 100%;
    }

    a.nav-link {
        padding-left: 25px;
    }

    .icons-list-skills i {
        font-size: 3em;
        margin-left: 90px;
        margin-bottom: 20px;
        }


        .card-body p {
            padding-top: 10px;
            width: 100%;
            height: 100%;
        }

        .card-title-codeRef{
            font-size: 2em;}

        .card-title-GD, .card-title-PWS, .card-title-P,.card-title-CS {
            font-size: 0.8em;
}

        .centre .btn-toolbar  {
            margin-top: 100px;
            }

        footer{
            margin-top: 300px;
}
    }