:root {
    --dsg: darkslategray;
    --ws: whitesmoke;
    --blan: blanchedalmond;
    --blk:  black;
}

html, body {
width: 100%;
height: 100%;
border-radius: 0 !important;
background-color: var(--dsg);
scroll-behavior: smooth;
}

/*----NavBar----*/

h1 .navbar-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-body-tertiary {
    margin: 0;
}

.navbar-title  {
    color: var(--blan);
    text-decoration: none;
    font-size: 3em;
    padding-right: 20px;
    padding-left: 20px;
}

ul .navbar-nav{
    list-style: none;
    display: flex; 
  }

li a {
    margin-right: 30px; 
  }

.navbar {
    margin-top: 10px;
    background-color: var(--dsg);
    font-size: 1.5em;
}

ul .navbar-nav {
    display: flex;
    align-items: flex-end;
}

.nav-item a {
    color: var(--blan);
}

.nav-item a:hover {
    color: var(--ws);
}  

/*----Jumbotron----*/

.jumbo p {
    font-size: 1.25em;
    width: 100%;
}

h1, .display-5 { 
    padding-bottom: 20px;
    font-size: 4em !important;
    color: var(--blan);
}


/*----About Me----*/

.container-fluid img {
    height:500px;
    width: 400px;
    margin: 0;
    padding: 0;
}

.card-title-about {
    color: var(--ws);
    font-size: 4em;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

.card-title-about:hover {
    color: var(--blan);
    font-size: 4em;
    box-shadow: inset 300px 0 0 0 var(--blk);
}

.card-title-skills {
    color: var(--ws);
    font-size: 4em;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

.card-title-skills:hover {
    color: var(--blan);
    font-size: 4em;
    box-shadow: inset 170px 0 0 0 var(--blk);
}

.card {
    border: none !important;
    border-radius: none;
    border-style: none;
    background-color: var(--dsg);
    color: var(--blan);
}

.bg-body-tertiary{
    background-color: var(--dsg) !important;
    }

    .bg-body-tertiary p{
        color: var(--blan)
        }

.mb-4 {
    margin-bottom: 0 !important;
}

/*----Code Refactor----*/

.crf  .card-title{
    font-size:3rem;
    padding:1%;
    color: var(--blan);
    background-color: var(--dsg);
    margin: 0;
    position: absolute;
    bottom:10px;
    left: 15px;
    }

.crf .card-title:hover{
    background-color: var(--blan);
    color: var(--dsg);
    transition: 0.8s;
    }

/*----Other Row----*/

.other-row{
    padding-top: 10%;
}
.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
    border-radius: 0 !important;
}

.card-img:hover {
    filter: grayscale(1);
    transition: filter 0.5s ease-in-out;
}

.other-row .card-title {
background-color: var(--dsg);
padding:2%;
color: var(--blan);
display: block;
position: absolute;
bottom:2px;
left: 5px;
}

.other-row img {
height: 100%;
width: 100%;
border-radius: 0 !important;
}
.other-row .card-title:hover{
    background-color: var(--blan);
    color: var(--dsg);
    transition: 0.8s;
    }

    /*.other-row :hover {
        filter: grayscale(1);
        transition: all 2ms;
    }*/

    /*----Footer----*/

    .footerNav .nav-item {
        display: flex;
        justify-content: space-evenly;
        color: var(--blk);
    }

    .footerNav {
        background-color: var(--dsg);
        font-size: 1.5em;
    }
    
    ul .navbar-nav {
        display: flex;
        align-items: flex-end;
    }
    
    .footerNav .nav-item a {
        color: var(--blan);
        padding: 20px;
        margin: 0 70px 0 70px;
    }
    .nav-item a:hover {
        color: var(--ws);
    }

    .btn-dark {
        background-color: var(--ws);
        color: var(--dsg);
        border: none;
    }

    .btn-dark:hover{
        background-color: var(--blan);
        color: var(--dsg);
        border: none;
    }
    